module.exports = {
  "TOKEN": "", // Bot Token
  "owners": [], // Owner IDs
  "Prefix": ".", // Prefix of the bot
  "DB_URL": "", // MongoDB url (though not used)
  "Languages": [], // Language Codes
  "statusURL": "", // Webhook URL
  "FakeYouEmail": "", // Fake You Email
  "FakeYouPassword": "" // Fake You Password
  }
